* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* INDEX */




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' -10,
  'opsz' 50
}


ul{
  list-style:none;
}

.body-index {
  background-image: url(../img/foto-portada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-index {
  background-color: #4cb1b100;
  color: #fff;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  padding: 1rem;
  align-items: center;
  margin-top: 1%;
}

nav {
  background-color: #43aaaa;
  color: #fff;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  padding: 1rem;
  align-items: center;
  margin-top: 1%;
  /* position: fixed;
  width: 100%; */
}

.topnav {
  
  display: flex;
  justify-content:space-between;
  background-color: #43aaaaa9;
}

.logo {
  display: center;
}

.img-logo {
  
  width: 70%;
  height: auto;
  padding: 2%; 
  transition: transform 0.3s;

}
.img-logo:hover {
  transform: scale(1.1);
}

.topnav a {
  float: left;
  color: rgba(255, 255, 255, 0.807);
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: transform 0.3s;
}

.section-nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

.topnav .section-nav:hover {
  color: rgba(255, 255, 255, 0.932);
  transform: scale(1.1);
}

.topnav .section-nav1:hover {
  color: rgb(43, 59, 230);
  transform: scale(1.1);
}

.bi-person-circle {
  transition: transform 0.3s;
}

.bi-person-circle:hover {
  transform: scale(1.1);
}

/* esto a arreglar */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.portada {
  display: flex;
  justify-content: center;
}

.img-portada {
  width: 60%;
  height: auto;
  margin-top: 5%;
}

.main-index {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-portada {
  font-size: 2.5rem;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  text-align: center;
  height: max-content;
}

/* ACERCA DE */

.quienes-somos {
  border: solid 2px rgba(160, 161, 166, 0.489);
  margin: 7%;
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.5), 0 0 5px rgba(200, 200, 200, 0.5),
    0 0 8px rgba(200, 200, 200, 0.5), 0 0 10px rgba(200, 200, 200, 0.5),
    0 0 15px rgba(200, 200, 200, 0.5), 0 0 18px rgba(200, 200, 200, 0.5),
    0 0 22px rgba(200, 200, 200, 0.5), 0 0 30px rgba(200, 200, 200, 0.5);
}

.somos {
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.875rem;
  padding: 2%;
  color: rgb(74, 74, 74);
}

.somos-p {
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.875rem;
  padding: 2%;
  color: #2f7c7c;
}

.staff-title {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-bottom: 6%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #43aaaa;
  color: white;
}

.staff-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  background-color: rgb(24, 24, 181);
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.staff-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  background-color: rgb(24, 24, 181);
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.dr-staff {
  font-size: 2.5rem;
  text-align: center;
  padding: 5%;
  color: #4dcece;
}

.img-dr {
  width: 35%;
  height: auto;
  padding: 3%;
}

/* TURNOS  */

.title-turnos {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 2.1875rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.turnos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  height: 50vh;
  align-items: center;
}

.tipo-turno {
  width: 90%;
}

.tipo {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 181);
  border: 3px solid;
  border-color: #43aaaa;
  transition: transform 0.3s;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.tipo-a {
  text-decoration: none;
  color: #4dcece;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tipo:hover {
  transform: scale(1.1);
}

/*CONTACTO*/

body {
  background: #03045f;
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;
}

.c-ul {
  list-style: none;
  padding: 0;
}

.c-titulo {
  text-align: center;
  font-size: 3em;
}



.c-Contenedor> * {
  padding: 1em;
  box-shadow: 0 0 20px 0 rgba(37, 14, 245, 0.3);
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.c-formu {
  background:  rgba(37, 14, 245, 0.3);
}

.c-formu form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.c-formu form label {
  display: block;
}

.c-formu form p {
  margin: 0;
  padding: 1em;
}

.c-formu form .block {
  grid-column: 1 / 3;
}

.c-formu form button,
.c-formu form input,
.c-formu form textarea {
  width: 100%;
  padding: .7em;
  background: #24303c;
  outline: 0;
  color: #fff;
  /* border-bottom: 1px solid #d63031; */
}

.c-formu form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.c-formu form button:hover,
.c-formu form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}


.c-infomacion {
  background:  rgba(0, 0, 0, 0.3); ;
}

.c-infomacion h4, .c-infomacion ul, .c-infomacion p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* responsive */

@media(min-width: 700px) {
  .c-body {
      padding: 0 4em;
  }
  .c-contenedor {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .c-contenedor > * {
      padding: 2em;
  }
  .c-infomacion h4,
  .c-infomacion ul,
  .c-infomacion p {
      text-align: left;
  }
}

/* RESPONSIVE */


@media (max-width: 768px) {
 
  .topnav {
   display: block;
   position: fixed;
   margin-top: auto;
   
  }

 .box{
  height: 100;
  width: 100;
  background-color: #43aaaaa9;
 }
  svg{
  display: none;

  }
  .Campos {
    width: 400px;
    max-width: 300px;
  }
  .Campos {
    width: 300px;
    max-width: 300px;
    align-content: center;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
  
      ' titulo titulo '
      'datos datos' 
      'historia historia'
      ' botones botones ';
  
    gap: 0px;
    width: 700px;
    height: auto;
    padding: 50px ;
    justify-content: left;
    align-content: center;
    
}

span{
  color: #fff;
  display: block;
  position: fixed;
  margin-top: auto;
}

.topnav a {
  float: right;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 1rem 1rem  ;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
}

.topnav .section-nav:hover {
  color: rgba(255, 255, 255, 0);
  transform: scale(1.1);
}

.img-logo {
  
  width: 100%;
  height: auto;
  padding: 2%; 
  transition: transform 0.3s;
  
}

  }