nav {
    background-color:#5AC6C6;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    font-family: georgia;
    font-size: 17px;
}

.topnav a {
  float: left;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: rgb(31, 23, 185);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
